body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 10px solid #3c404d;
    box-sizing: border-box;
    z-index: 0;
  }

  .content {
    display: flex;
    border: 5px solid #797979;
    margin: 20px 20px 0 20px; /* Adjust the margin values as needed */
    padding: 20px;
    flex: 1;
    max-width: 100%;
  }
  
  .bigfigure {
    width: 90%;
    height:auto;
    margin: 80px auto;
    margin-bottom: 0;
   
  }

  .bigfigure img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block; /* Add this line to ensure proper alignment */
    margin: 0 auto; /* Add this line to center the image horizontally */
  }
  
  
  figcaption {
    font-size: 14px;
    font-style: italic;
    color: #0077c0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .bio {
    width: 80%;
    margin: 0 auto;

    font-size: 16px;
  }
  
  h3 {
    color: #0077c0;
    font-size: 17px;
    text-align: center;
    font-weight: bolder;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    opacity: 0.5;
    animation: staticGlitch 1s infinite;
    z-index: 1;
  }

  h1 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #89acf8;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    color: aliceblue;
    font-size: 18px;
    text-indent: 3ch;
    margin: 0 auto;
    max-width: 80%;
    padding: 0 20px;
  }
  
  .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
  }
  
  .header-image {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.5;
    z-index: 2;
    transform: translateY(0);
  }
  
  .glitch-image,
  .underlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .underlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .underlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .link-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2; /* Ensure link buttons appear on top */
    opacity: 60%;
  }
  
  .link-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .link-buttons a:hover {
    background-color: #7ad05a;
    transform: translateZ(10px);
  }
  
  .link-buttons a:active {
    background-color: #8cdcff;
    transform: translateZ(5px);
  }
  .lists {
    Margin: 0;
    color: #0077c0;
    font-weight: bold;
    font-size: 15px;
  }
  .formstyle {
    font-size: 18px;
    color: #7ad05a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px; /* Adjust the width as needed */
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .left-column,
  .right-column {
    flex: 1;
    max-width: 300px; /* Adjust the width as needed */
  }
  
  .form-group {
    margin-bottom: 10px;
    width: 100%;
  }

  .description-group {
    width: 100%;
  }
  
  .form-button{
   
    bottom:0px;
    justify-content: center;
 

  }

  .form-button :hover{
    background-color: #7ad05a;
    transform: translateZ(10px);
  }

  .form-button :active{
    background-color: #8cdcff;
    transform: translateZ(5px);
  }
  
  label {
    text-align: left;
  }
  
  textarea {
    width: 100%;
    resize: vertical;
  }
  
  input[type="submit"] {
    margin-top: 20px;
  }
  
  @media screen and (max-width: 900px) {
    .formstyle {
      width: auto;
      margin: 0 20px; /* Adjust the margins as needed */
    }
  
    .left-column,
    .right-column {
      max-width: none;
    }
  }
  